@import 'linear-icons.css';

.content {
    max-width: 1100px;
    margin: 0 auto;
}

@media only screen and (min-width: 834px) {
    body::-webkit-scrollbar {
        position: absolute;
        width: 5px;
        margin-left: -5px;
    }

    body::-webkit-scrollbar-track {
        background-color: var(--container-background);
    }

    body::-webkit-scrollbar-thumb {
        display: none;
    }
}
