.base {
    display: inline;
    background-color: #444;
    color: var(--white-smoke);
    padding: 6px 2rem;
    border-radius: 100px;
}

.base h5 {
    opacity: .6;
    font-weight: var(--normal);
    font-size: 12px;
}