.base {
  display: grid;
  width: 100%;
  max-width: 1100px;
  padding: 50px 40px 30px;
  margin: 0 auto;
}

.pricing {
  display: grid;
  gap: 32px;
}

.letter {
  color: var(--light-gray);
  font-size: 16px;
}

@media (min-width: 834px) {
  .base {
    padding-left: 0;
    padding-right: 0;
  }
}
